
    <div class="row">
            {% for informasi in site.informasi %}
      <div class="col-lg-5 shadow-sm mr-5 mb-5">
            <h3>{{informasi.title}}</h3>
            <p>{{informasi.subtitle}}</p>
            <p><a class="btn btn-secondary" href="{{site.url}}{{site.baseurl}}{{informasi.url}}" role="button">Selengkapnya &raquo;</a></p>
      </div>
            {% endfor %}
    </div>

<iframe class="center" height="315" src="https://www.youtube.com/embed/NiSNcEM4cOE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>
<div class="quote">
  <p>“Dan janganlah kamu mendekati zina; sesungguhnya zina itu adalah suatu perbuatan yang keji. Dan suatu jalan yang buruk.”</p>
<p>(QS Al Isra: 32)</p>
</div>

