<!-- Footer -->

  <!-- Footer -->
  <footer class="bg-dark text-white">
    <!-- Grid container -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h4 class="text-uppercase">Pengembang</h4>

          <p>
          Rizky Maulana
          </p>
          <h4 class="text-uppercase">Mitra Pengembang</h4>

          <p>
          Niko Yama
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Akses Cepat</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="{{site.url}}{{ site.baseurl }}" class="text-white">Beranda</a>
            </li>
            <li>
              <a href="{{site.url}}{{ site.baseurl }}/pribadi-sosial" class="text-white">Pribadi-Sosial</a>
            </li>
            <li>
              <a href="{{site.url}}{{ site.baseurl }}/belajar" class="text-white">Belajar</a>
            </li>
            <li>
              <a href="{{site.url}}{{ site.baseurl }}/karier" class="text-white">Karier</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Kontak</h5>

          <ul class="list-unstyled">
            <li>
              <a href="mailto:rizkymaaa@gmail.com" class="text-white">rizkymaaa@gmail.com</a>
            </li>
            <li>
              <a href="https://www.instagram.com/rizkymaaa" class="text-white">Instagram</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright
    </div>
  </footer>
